About Lombok Maven Plugin

  This plugin allows a Maven project to take advantage of {{{http://projectlombok.org}Project Lombok}}.

* Usage

  Note that Lombok requires Java 6, so an explicit declaration of 1.6 compatibility to the compiler may also be required:

---
<build>
  <plugins>
    <plugin>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-compiler-plugin</artifactId>
      <configuration>
        <compilerVersion>1.6</compilerVersion>
        <source>1.6</source>
        <target>1.6</target>
      </configuration>
    </plugin>
  </plugins>
</build>
---

** Delombok

  Add the following to the <pom.xml> to activate the <<delombok>> goal:

---
<build>
  <plugins>
    <plugin>
      <groupId>org.projectlombok</groupId>
      <artifactId>lombok-maven-plugin</artifactId>
      <version>${MavenLombokPluginVersion}</version>
      <executions>
        <execution>
          <phase>generate-sources</phase>
          <goals>
            <goal>delombok</goal>
          </goals>
        </execution>
      </executions>
    </plugin>
  </plugins>
</build>
<profiles>
  <profile>
    <id>lombok-needs-tools-jar</id>
    <activation>
      <file>
        <exists>${java.home}/../lib/tools.jar</exists>
      </file>
    </activation>
    <build>
      <plugins>
        <plugin>
          <groupId>org.projectlombok</groupId>
          <artifactId>lombok-maven-plugin</artifactId>
          <version>${MavenLombokPluginVersion}</version>
          <dependencies>
            <dependency>
              <groupId>sun.jdk</groupId>
              <artifactId>tools</artifactId>
              <version>1.6</version>
              <scope>system</scope>
              <systemPath>${java.home}/../lib/tools.jar</systemPath>
            </dependency>
          </dependencies>        
        </plugin>
      </plugins>
    </build>
  </profile>
</profiles>
---

  Note that placing the <<<tools.jar>>> dependency within a profile is a clever strategy to support building on a Mac where it does not have a <<<tools.jar>>>, and does not need it since the required classes are already in the classpath.

  Place the java source code with lombok annotations in <<<src/main/lombok>>> (instead of <<<src/main/java>>>).  During the build process, the <<<src/main/lombok>>> code will be {{{http://projectlombok.org/features/delombok.html}delomboked}} and the generated java code ends up in <<<target/generated-sources/delombok>>>.  The delomboked code is compiled and analysed together with the <<<src/main/java>>> code.
